<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
  {% block head %}
  <title>Title</title>
  {% endblock %}
</head>
<body>
    <div class="wrapper">
        <div class="h_wrapper">
            <header>
                <div class="header-logo">
                    <div class="header-logo-wrapper">
                        
                    </div>
                    <p class="h_wrapper-text">Блог</p>
                </div>
                <a href="{% url 'add_post' %}">
                    <div class="addpost">
                        <p>+ Добавить статью</p>
                    </div>
                </a>
            </header>
        </div>
        
            {% block body %}
            {% endblock %}
            

    </div>
</body>
</html>